<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js" ></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>

<body>

<div id="app1">
  영화목록 {{title}}

  <div v-for="l in list " >
    data  {{l}} <br>
  </div>


  <div v-for="m in movies " >
    id= {{m.id}}   /  title = {{m.title}} <br>
  </div>

  <table border="1">
    <tr v-for="m in movies " >
      <td>   {{m.id}}  </td>
      <td>   {{m.title}}  </td>
    </tr>
  </table>

  <br>
  주소 {{address}}

</div>

</body>

<script>
  new Vue({
    el: '#app1',
    data: {
      title : "영화검색",
      address : "경기도 용인시...",
      list : ["사과", "배", "감"],
      movies : []
    },
    created() {
      alert('^^');
      axios.get('/getmovies')
              .then(response =>{
                console.log(response.data)
                this.movies = response.data.movies;
              });

    }
  });
</script>

</html>